# Enable mod_rewrite
RewriteEngine On
RewriteBase /fantasy_team_app/app/

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
